:root {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(211, 206, 206);
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(32 34 28);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  min-width: 320px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

input, textarea { 
  display: block;
  max-width: 300px;
  margin: 0.5rem 0;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav {
  background-color: darkolivegreen;
  padding: 20px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav a {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0 0.5rem;
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
  color: rgb(158, 156, 156)
}