.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.title {
  margin: 0;
  font-size: 3rem;
  color: rgb(204, 203, 198);
  text-align: center;
}

.content {
  position: absolute;
  bottom: 20vh;
  left: 15vw;
  width: 200px;
  color: rgb(41, 42, 43);
  font-weight: 600;
}

.top_option_bar {
  background-color: #141313;
  display: flex;
  width: 98%;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0;
  }

  .title {
    font-size: 1.5rem;
    padding: 0;
  }
}

.loading-error {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0 20px 0;
  width: 100%;
  justify-content: center;
}

.add_recipe_btn {
  color: green !important;
  font-size: 0.9rem;
}