.search_title {
  color: white;
  font-size: 0.9rem;
}

.search_label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  background-color: #141313;
  padding: 10px;
}

.search_label > input {
  padding: 3px;
}

@media only screen and (max-width: 430px) {
  .search_label {
    flex-direction: column;
    align-items: start;
    gap: 0;
    padding: 5px 10px;
  }

}